body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
   }
.container{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}
.img{
    float: left;
    width:10%;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 15px;
   }
.brandside{
    float: left;
    padding-top: 25px;
    justify-content: center;
    width:20%;
    height: 200px;
    background-color:rgb(255, 255, 255);
}

.brandside h2{
  padding-left:px;
  }
.nav{ 
    float: left;   
     width: 40%;
    height: 200px;
    background-color: rgb(255, 255, 255); ; 
    padding-left:350px; 
}
.nav a{
margin: 18px;
text-decoration: none;
color: black;
}
.nav a:hover{
color: rgb(5, 146, 211); ;
}
.font{
  font-size: 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ptop{
padding-top: 50px;
}
.banner{
    width: 90%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
.banner h5{
  color: rgb(5, 146, 211); 
  }
.banner h1,.banner-passion h1{
    font-weight:lighter;
    font-size: 45px;
    line-height: 50px;
}
.banner-passion{
    padding-top: 100px;
    padding-bottom: 100px;
   text-align: center;
    width: 60%;
    height: 200px;
    margin: auto;
    }
    .myVideo{
        width: 100%;
        height: 640px;
        background-color: rgb(5, 146, 211);
        background-image: url("https://ik.imagekit.io/midnightcoders/compr.jpg?updatedAt=1687512597788");
        background-size:cover;
    }
    .images{
        position: relative;
        width: 100%;
        height: 750px; 
        background-color:rgb(255, 255, 255);
        margin-bottom: 150px;
    }

    .img-left{
        margin-left: 20px;
        float: left;
        width: 60%;
        height: 750px;
        border: 2px solid rgb(245, 245, 245);
             
    }
    
       .img-right{
        display: flex;
        flex-wrap: wrap;
        float: right;
        width:35%;
        height:700px;
        margin-right: 20px;
        border: 2px solid rgb(255, 255, 255);
    }
    .img-right1{
        height:375px;
        width:100%;
         border: 2px solid rgb(255, 255, 255);        
        margin-bottom:20px;
    }
    .next{
        padding-bottom: 45px;
        width: 100%;
        height: 50px;
        text-align: center;
    }
    #next{
        margin-top: 20px;
        text-align: left;
    }
        .next h5{
        font-size: 12px;
        color:rgb(5, 146, 211);
    }
    .next a{
        padding: 22px 45px 22px 45px;
        text-decoration: none;
        border:1px solid black;
        color: black;
        font-size: 15px;
    }
    .next a:hover{
background-color: black;
color: white;
transition: .5s ease;
    }
    .next a{
        color: rgb(0, 0, 0);
        font-size: 15px;
    }
    .footer{
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        background-color: aquamarine;
        width: 100%;
        height: 100px;
        margin-top: 100px;
    }
    .reserved{
        float: left;
        background-color: black;
        width: 50%;
        height: 100px;
        color: white;
        text-align: center;
        padding-top: 60px;
    }
    .toc{
        background-color: rgb(1, 105, 146);
        width: 50%;
        height: 100px;
        text-align: center;
        padding-top: 60px;
    }
    .toc a{
        padding-top: 70px;
        padding-bottom: 2px;
       text-decoration:none;
       color: rgb(252, 252, 252);
        font-size: 15px;
        border-bottom: 1px solid grey;;
    }
    .toc a:hover{
        transition: .5s ease;
      color:rgb(145, 145, 145);
    }
    .focus{
        
        padding-left: 180px;
        height:auto;
        width: 65%;
        background-color: rgb(255, 255, 255);
        margin: 150px auto;
        
       }
   .dispwrap{
    display: flex;
    flex-wrap: wrap;
   }
   .focus p{
    line-height: 25px;
   }
    

    
