body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
   }
   .container{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    text-align: right;
}
.img{
    float: left;
    width:10%;
    background-color: rgb(255, 255, 255);
    padding-left: 60px;
    padding-top: 15px;
   }
.brandside{
    float: left;
    padding-top: 25px;
    justify-content: center;
    width:auto;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding-right: 0;
}

.brandside h2{
  padding-left:10px;
  }
.nav{ 
    
    justify-content: right;
    position:relative;
    width: 70%;
    height: 100px;
     background-color: rgb(255, 255, 255);
    
}
.nav a{
margin: 18px;
text-decoration: none;
color: black;
}
.nav a:hover{
color: rgb(5, 146, 211);
}
.font{
  font-size: 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ptop{
padding-top: 50px;
}
.banner{
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    height: auto;
    background-color:  rgb(255, 255, 255);
    padding-top: 20px;
    margin-bottom: 150px;
}
.gridheight{
    padding-top: 150px;
    margin-bottom:0;   
}

.descr{
    height:300px;
    width: 60%;
    background-color:  rgb(255, 255, 255);
    padding-left: 75px;
}
.gifed{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 350px;
}

.banner h5{
  color: rgb(5, 146, 211); 
  }
.banner h1,.banner-passion h1{
    font-weight:lighter;
    font-size: 45px;
    line-height: 50px;
}
.banner-passion{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    width: 60%;
    height: 200px;
    margin: auto;
    }
    .myVideo{
        width: 100%;
        height: 640px;
        background-color: rgb(5, 146, 211);
        background-image: url("https://ik.imagekit.io/midnightcoders/compr.jpg?updatedAt=1687512597788");
        background-size:cover;
    }
    .height-less{

        width:80%;
       height: 600px;
       margin-bottom: 140px;
       }
    .images{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 95%;
        margin:auto;
        height:auto; 
        background-color:rgb(255, 255, 255);
        justify-content: center;
    }
    .imagess{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 80%;
        margin:auto;
        height:auto; 
        background-color:rgb(255, 255, 255);
        justify-content: right;
        margin-bottom: 100px;
    }

    .height{
        height: 750px;
        margin-bottom: 150px;
    }
   
    .img-left{
        float: left;
        width: 60%;
        height: 750px;
        margin-right: 10px;
                   
    }
    
       .img-right{
        display: flex;
        flex-wrap: wrap;
        float: right;
        width:35%;
        height:700px;
    }
    .img-right1{
        height:382.5px;
        width:100%;          
        margin-bottom:10px;
    }
    .next{
        padding-bottom: 45px;
        width: 100%;
        height: 50px;
        text-align: center;
    }
    #next{
        margin-top: 20px;
        text-align: left;
    }
        .next h5{
        font-size: 12px;
        color:rgb(5, 146, 211);
    }
    .next a{
        padding: 22px 45px 22px 45px;
        text-decoration: none;
        border:1px solid black;
        color: black;
        font-size: 15px;
    }
    .next a:hover{
background-color: black;
color: white;
transition: .5s ease;
    }
    .next a{
        color: rgb(0, 0, 0);
        font-size: 15px;
    }
    .footer{
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        background-color: aquamarine;
        width: 100%;
        height: 100px;
        margin-top: 100px;
    }
    .reserved{
        float: left;
        background-color: black;
        width: 50%;
        height: 100px;
        color: white;
        text-align: center;
        padding-top: 60px;
    }
    .toc{
        background-color: rgb(1, 105, 146);
        width: 50%;
        height: 100px;
        text-align: center;
        padding-top: 60px;
    }
    .toc a{
        padding-top: 70px;
        padding-bottom: 2px;
       text-decoration:none;
       color: rgb(252, 252, 252);
        font-size: 15px;
        border-bottom: 1px solid grey;;
    }
    .toc a:hover{
        transition: .5s ease;
      color:rgb(145, 145, 145);
    }
    .focus{
        
        padding-left: 180px;
        height:auto;
        width: 65%;
        background-color: rgb(255, 255, 255);
        margin: 50px auto;
        
       }
   .dispwrap{
    display: flex;
    flex-wrap: wrap;
   }
   .focus p{
    line-height: 25px;
   }
   .img1
   {
    margin:10px;
    height:500px;
    width: 48%;
   }
    
   .space{
     width: 100%;
    justify-content: center;
   }
.lgimage{
    padding-right: 300px;
    width: 61%;
    float: left;
    margin-bottom: 100px;   
  }
  .lgimages{
    width: 70%;
    float: right;
  }
.lgtext{
    position: absolute;
    left:550px;
    margin-top: 90px;
    float: left;
    height:400px;
    width: 42%;
    background-color: rgb(217, 218, 219);
}
.lgtexts{
    position: absolute;
    left:0px;
    margin-top: 90px;
    float: left;
    height:400px;
    width:50%;
    background-color: rgb(217, 218, 219);
}
    

.head{
    color: rgb(5, 146, 211);;
    padding:50px;
    padding-bottom: 0;
    line-height:60px;
    font-size: 50px;
    font-weight: lighter;
}
.heads{
    color: rgb(5, 146, 211);
    padding: 50px;
    padding-top:2px;
    padding-bottom: 0;
    line-height:60px;
    font-size: 50px;
    font-weight: lighter;
}
.headp{
     padding: 50px;
     padding-top: 0;
}
.headps{
    padding: 50px;
    padding-top: 0;
    padding-bottom: 20px;
}
.left{
     text-align: left;
     padding-left: 50px;
}
.lefts{
    text-align: left;
    padding-left: 10px;  
}
@media all and (max-width:1250px){
    .nav{
 display:none;
}
.container{
    display: inline;
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    text-align: right;
}
.img{
    width:25%;
    
   }
   .banner{
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    height: auto;
    background-color:  rgb(255, 255, 255);
    padding-top: 20px;
    margin-bottom:50px;
}
.gridheight{
    padding-top: 150px;
    margin-bottom:0;   
}

.descr{
    height:auto;
    width: 90%;
    background-color:  rgb(255, 255, 255);
    padding-left:0;
    margin: auto;
    justify-content: center;
}
.gifed{
    margin: auto;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 350px;
}

.banner h5{
  color: rgb(5, 146, 211); 
  }
.banner h1,.banner-passion h1{
    font-weight:lighter;
    font-size: 25px;
    line-height: 30px;
}
.next{
    margin-top: 25px;
    padding-bottom: 5px;
    width: 100%;
    height: 50px;
    
}
.gridheight{
    padding-top: 10px;
    margin-bottom:0;   
}
.img-left{
    justify-content: center;
    margin: 20px;
    float: left;
    width: 90%;
    height: 350px;
   
         
}
.img-left img{
    margin-left: 20px;
    float: left;
    width: 90%;
    height: 350px;

         
}

   .img-right{
    display: flex;
    flex-wrap: wrap;
    float: right;
    justify-content: center;
    width:90%;
    height:350px;
    margin:20px;
   
}
.img-right1{
    height:375px;
    width:90%;          
    margin-bottom:10px;
}
.myVideo{
    height: 250px;
}

.height{
    height:auto;
    margin-bottom: 500px;
}
.focus{
        
    padding-left: 0;
    height:auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin:auto;
    
   }
   .img1
   {
    margin:10px;
    height:500px;
    width: 80%;
   }
   .lgtext{
    position: absolute;
    left:0px;
    margin-top: 90px;
    float: left;
    height:auto;
    width: 100%;
    background-color: rgb(217, 218, 219);
}
.lgtexts{
    position: absolute;
    left:0px;
    margin-top: 90px;
    float: left;
    height:auto;
    width: 100%;
    background-color: rgb(217, 218, 219);
}
.lgimage{
  display: none;
  }
  .lgimagess{
display: none;
  }
  .height-less{
   width:80%;
   height:650px;
   margin-bottom: 10px;
   }
    .height-less{

        width:80%;
       height: 600px;
       margin-bottom: 140px;
       }
    .images{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 80%;
        margin:auto;
        background-color:rgb(247, 247, 247);
        justify-content: center;
    }
    .imagess{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 70%;
        margin:auto;
        height:auto; 
        background-color:rgb(255, 255, 255);
        justify-content: right;
    }

  
}
